@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Middle Valley Community bank</h1>
    <p class="lead">Middle Valley Comunity Bank offers the first-ever web-Based ATM.
     Give it a try today!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Powered by ASP.NET&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Register</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Login &raquo;</a></p>
    </div>

</div>