@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div  id="sectionLeft" >
        <img src="~/logo.gif" width="182" height="207" style="float:left; margin-left:-15px;margin-right:20px;margin-top:-40px; clear:both;" />
        <img src="~/logo.gif" width="300" height="350" style="float:right; margin-top:-1em; margin-right:-20px" />
    </div>
   

        <div id="sectionRight">
            <h2>
                Something for Everyone
            </h2>
            <p >
                california girls those bitches were so unforgivable,
                california girls those bitches were so unforgivable
                california girls those bitches were so unforgivable
                california girls those bitches were so unforgivable
                california girls those bitches were so unforgivable
                california girls those bitches were so unforgivable
                california girls those bitches were so unforgivable
                california girls those bitches were so unforgivable
                california girls those bitches were so unforgivable

            </p>
        </div>
    

    @*<div  id="sectionRight">


    </div>*@



   

    @* <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
