@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron">
    <img src="~/logo.gif" width="182" height="207" style="float:left; margin-left:-15px;margin-right:20px;margin-top:-40px;" />

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        Explore California<br />
        some fucking city<br />
        <abbr title="Phone">Ph:</abbr>
        425.555.0100
    </address>

    <address>

        <strong>Bookings :</strong><a href="mailto:#">bookings@fuckcalifornia.org</a><br />
    </address>


</div>
