@{
    ViewBag.Title = "About";
    ViewBag.Message = "Who Are We";
}
<h3>@ViewBag.Message</h3>

<p>We are passionate about California and preserving the abundant resources that make it so unique. <img src="~/Content/images/mission_look.jpg" style="float: right; padding: 1em 0 1em 1em;" />Our goal at Explore California is to transform your vacation into an adventure that will educate, inspire, and energize you unlike any other.</p>
<p>Our tours are crafted around our central mission, and are designed to engage you in a unique and fulfilling way. All our tours are sensitive to the environment, and will provide you will an opportunity to explore California in your own way.</p>
<p>We've been asked before how we choose our tours. It's simple really, we approach our tours as the enthusiasts we are! When we scout for locations, choose tour options, or explore the surrounding area for exciting side-tours, we ask ourselves one question, "is this something we would want to do?" We also look very carefully at a tour's potential impact. We choose tours that are as environmentally sensitive as we are, and that expose people to amazing diversity of California's people, places, and wildlife!</p>
<p>We've also worked very hard to make Explore California more than just a tour company. Join our community and become part of the conversation. Recommend tours, blog about your journeys, and share pictures and video with other tour members.</p>