@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Contact Us";
}
<h2>@ViewBag.Message</h2>

<address>
    Explore California<br />
    <br />
    5605 Nota Street<br />
    Ventura, CA 93003<br />
    <br />
    866.555.4310
</address>

<address>
    <strong>Bookings:</strong>   <a href="mailto:Bookings@explorecalifornia.org">bookings@explorecalifornia.org</a><br />
</address>